*{
    box-sizing: border-box;
  
    
}
body{
    margin: 0;
    background-color: #8da9d3;
    color: white;
}
#container{
    width:700px;
    margin:10px auto;
    border: 2px solid rgba(13, 15, 155, 0.993);
    padding:5px;
    height: auto;
}
#shapes{
display: flex;
justify-content: space-between;
}
.all{
    /* border: 2px solid black; */
    width: 200px;
    border: 1px solid rgb(167, 55, 55);
    height: 100px;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 20, 20);
    text-align: center;
    font-weight: bolder;
    font-size:large;
}
.icon{
    margin: -10px;
    width: 45px;
}
#btn{
    position:absolute;
    top:50px;
    right:80px;
    /* margin:10px auto; */
    padding: 20px;
    font-size: 1.5rem;
    border-radius: 100px;
    background-color: red;
    color: white;
    box-shadow: 2px 10px 50px 20px black ,inset 0px 0px 30px 5px white;
}
#foot{
    color: white;
    background-color: black;
    margin: 0px 0px;
    text-align: center;
    font-size: 1.2rem;
    position:fixed;
    width: 100vw;
    bottom: 0px;

}
#fillcolor{
    position:absolute;
    top:250px;
    right:40px;
}
#strokecolor{
    position:absolute;
    top:350px;
    right:40px;
}
.col{
    padding:6px;
    box-shadow: 2px 1px 50px 20px rgb(164, 16, 201),inset 0px 0px 15px 7px rgb(238, 225, 225);
    border-radius: 10px;
    font-weight: bolder;
    color:rgb(0, 0, 0);
}
.color{
    margin-left: 15px; 
}